<div class="list-group">
  <%= link_to short_game_url(@game), class: 'list-group-item list-group-item-action' do %>
    Invita amici a questa partita:
    <%= short_game_url(@game).remove('http://').remove('https://www.') %>
  <% end %>

  <% if @current_player != @round.czar && !@round.ended? %>
    <%= link_to toggle_hand_style_player_path(@current_player),
      method: :post,
      class: 'list-group-item list-group-item-action' do
    %>
      <% if @current_player.expand_hand? %>
        Collapse your cards
      <% else %>
        Vedi tutte le carte
      <% end %>
    <% end %>
  <% end %>

  <%= link_to 'Termina il round senza un vincitore',
    end_game_round_path(@game),
    method: :post,
    class: 'list-group-item list-group-item-action',
    data: { confirm: 'Sei sicuro di voler terminare il round per tutti i giocatori?' }
  %>
</div>
